<!--        <!DOCTYPE html>
{% load static %}
<html>
<body>
  <img src="{% static 'images/logoHalloween.png' %}" alt="Logo">
  <h1>Home Page</h1>
  <button onclick="openCamera()">Violin</button>

  <script>
    function openCamera() {
      var cameraWindow = window.open('{% url "hand_tracking_camera" %}', 'camera', 'width=640,height=480');
    }
  </script>
</body>
</html>        -->

<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/halloween-theme.css' %}" />
    <title>Music Instruments</title>
    <style>
      body {
        background-image: url('{% static "images/background.png" %}');
        /* ... 其他CSS規則 ... */
      }
    </style>   
  </head>
  <body>
    <div class="container">
      <div class="wheel" id="wheel">
        <!-- 以下為五個按鈕 -->
        <button onclick="openCamera('piano')" class="halloween-button" id="piano"><img src="{% static 'images/piano.png' %}" alt="Piano" /></button>
        <button onclick="openCamera('violin')" class="halloween-button" id="violin"><img src="{% static 'images/violin.png' %}" alt="Violin" /></button>
        <button onclick="openCamera('minion')" class="halloween-button" id="minion"><img src="{% static 'images/minion.png' %}" alt="Minion" /></button>
        <button onclick="openCamera('flute')" class="halloween-button" id="flute"><img src="{% static 'images/flute.png' %}" alt="Flute" /></button>
        <button onclick="openCamera('drum')" class="halloween-button" id="drum"><img src="{% static 'images/drum.png' %}" alt="Drum" /></button>

        <!-- 中心的箭頭（或Logo） -->
        <div class="arrow">
          <img src="{% static 'images/arrow.png' %}" alt="Arrow" />
        </div>
      </div>
    </div>

    {% comment %} <script src="{% static 'js/script.js' %}"></script>
    <script>
      document.querySelector('.wheel').addEventListener('mousemove', function (event) {
        let rect = this.getBoundingClientRect()
        let x = event.clientX - (rect.left + rect.width / 2)
        let y = event.clientY - (rect.top + rect.height / 2)
        let angle = Math.atan2(y, x) * (180 / Math.PI)
        document.querySelector('.logo').style.transform = `rotate(${angle}deg)`
      })
    </script> {% endcomment %}
  </body>
</html>
